/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 170px;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
}

.container {
    width: 97%;
    margin: auto;
}

.logo {
    width: 300px;
    padding-top: 90px;
}

h1 {
    font-size: 60px;
}

h2, h3 {
    color: #8c8c8c;
}

.scritta {
    color: #3fb4e8;
}

.prima-foto {
    width: 800px;
}

.seconda-foto {
    width: 665px;
}

.descrizione {
    font-weight: 600;
}